*{
    margin:0;
    box-sizing: border-box;

}
html,body{
    width:100%;
    height:100%;
    
    scroll-behavior: smooth;
    background: linear-gradient(to right, white 5%, #93a2b3 77%);
}

body{
    height:1000px;
    overflow-y:auto;
}
html{
    overflow:auto;
}




%display-block-container{
    display:block;
    position:relative;

}

%center{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

@mixin background-color($background-color){
    -webkit-transform: $background-color;
    -ms-transform: $background-color;
    transform: $background-color;
}


.background{
    background-color:black;
    width:100%;
    height:100%;
    

   .container {
        width:100%;
        height:300px;
        background:  linear-gradient(to right, white 5%, #93a2b3 77%);
        position: relative;
        
        .text{
            position: relative;
            text-align:center;
            overflow: none;
            top:40%;
            left:50%;
            transform:translate(-50%,-50%);
            background-color:transparent;
            border:none;

            div{
                margin: 0 0 10px 0;

                p{
                    font-family: Verdana, sans-serif;
                    text-shadow: 1px 1px pink;
                    color: white;
                    font-weight: 600;
                    font-size:40px;
                    background-color:#eb1c85;
                    display: inline-block;
                    padding:5px 10px 5px 10px;
                    border-radius: 5px;
                }
            }
        }


        .headline-container {
            position: absolute;
            bottom:-25px;

            .h-1{
                display:block;
                    
                    h1{
                        display:inline-block;
                        background-color:black;
                        color:white;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
                        font-size:50px;
                        margin:10px 0 0 10px;
                        text-align:left;
                        padding: 0 10px;
                        border-radius: 5px;
                    }
            
            }
        }
    }
    
        .nav_menu{
            display:block;
            position: absolute;
            right:0;
            padding:10px 5px;

            ul{
                list-style: none;

               
                li{
                    display:inline;
                    margin:5px;
                    padding:5px 10px;
                    color:white;
                    font-family: Verdana, sans-serif;
                    font-weight:500;
                    font-size:20px;
                    cursor: pointer;
                    &:hover{ color:#ffffa9;

                    }
                }

                .text-color {
                    color:#ffffa9;
                }
            }
    }

    .h2-container{
        @extend %display-block-container;
        min-height:50px;
        padding-bottom:10px;

        div{
            background-color:yellow;
            display:inline-block;
            margin-left:20px;
            border-radius: 5px;

            
            h2{
                color:black;
                font-size:25px;
                font-family: Verdana, sans-serif;
                padding:0 5px;
            }
        }
        
       
    }
      .text-box{
        display:block;
        position:relative;
        min-height:50px;
      }

        .nav_bar_section{
            display:block;
            position:relative;
            overflow: hidden;
            transition:height 5000ms linear;
            height:auto;


            .nav_bar_section_1{
                position: relative;
                width:60%;
                height:150px;
                display:inline-block;
                float:left;
                transition:height 5000ms linear;
                        
                        p{
                            position: absolute;
                            color:white;
                            font-family: Verdana, sans-serif;
                            font-size:15px;
                            font-weight: 400;
                            word-spacing:1px;
                            letter-spacing: 0.1cm;
                        }
                    
            }

            .nav_bar_section_2{
                position: relative;
                width:40%;
                height:150px;
                display:inline-block;
                transition:height 5000ms linear;


                    p{
                        color:black;
                        font-family: Verdana, sans-serif;
                        font-size:15px;
                        font-weight: 600;
                        word-spacing:1px;
                        letter-spacing: 0.1cm;
                        text-align:left;
                        display:inline-block;
                        background-color:yellow;
                        border-radius: 5px;

                    }
                
                .hidden{
                    max-height: 1px;
                    transition:max-height 100ms ;
                    overflow: hidden;
                        p{
                            color:white;
                            background-color:transparent;
                            font-weight: 400;


                        }

                }

                .reavel{
                    max-height: 500px;
                    transition:max-height 100ms ;

                    p{
                        color:white;
                        background-color:transparent;
                        font-weight: 400;

                    }
                    
                }
           
            }
        }



      .footer{
        background:  white;
        height:100px;
        background: linear-gradient(to right, white 5%, #93a2b3 77%);
            
       
            form{
                width:100%;
                height:100%;
                background: linear-gradient(to right, white 5%, #93a2b3 77%);
                display:inline-block;
                position: relative;
                
               .form{
                    background-color:black;
                    display:inline-block;
                    position: absolute;
                    left:50%;
                    transform: translateX(-50%);
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;


                    div{
                        display:inline-block;
                        background-color:black;
                        font-family: Arial, Helvetica, sans-serif;
                        color:gainsboro;
                        font-weight: 600;
                        padding:10px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }

               }
                input{
                    &[type=submit]{
                        font-family: Arial, Helvetica, sans-serif, sans-serif;
                        display:inline-block;
                        text-align:center;
                        border-radius: 5px;
                        border:1px solid orange;
                        padding:5px;
                        width:150px;
                        color:white ;
                        font-weight: 600;
                        background-color:orange;
                        cursor: pointer;
                        
                     }

                        &[type=text]{
                        font-family: Arial, Helvetica, sans-serif, sans-serif;
                        display:inline-block;
                        text-align:center;
                        border-radius: 5px;
                        border:1px solid grey;
                        padding:5px;
                        width:150px;
                        height:30px;
                        color:grey;
                        font-weight: 500;
                        background-color:white;
                      
                        &:focus{
                            outline:none;
                            
                        }

                        &:nth-of-type(1){
                         
                        }
                        &.pink{
                        }
                        }
                    }
                
            }

            #services-menu{
                height:100px;
                width:100%;

                .services-nav-menu{
                    background-color:black;
                    display:inline-block;
                    color:white;
                    letter-spacing: 0.1em;
                    font-family: Verdana, sans-serif; 
                    width:calc(100%/6);
                    height:100%;
                    float:left;

                    .services-nav-menu-item{
                        padding:5px;
                        font-weight: 400;
                    }
                }

                .services-nav-menu-content{
                    overflow:auto;
                    
                    &.width-none{
                        width:1px;
                        display:inline-block;
                        transition: width 200ms ease;
                        background-color:black;
                        height:100%;
                    }

                    &.width-full{
                        display:inline-block;
                        width:calc((100%/6)*3);
                        background-color:black;
                        height:100%;
                        transition: width 200ms ease;


                    }
                }


            }

            #services-menu-flex{
                display:flex;
                flex-direction: column;

                .services-nav-menu-flex-container{
                    display:flex;
                    flex-direction: column;
                    justify-content:flex-start;
                    height:auto;
                    text-align:center;
                    background-color:black;
                    letter-spacing: 0.1em;
                    font-family: Verdana, sans-serif; 
                    color:white;
                    border:black;
                    outline-color: black;
                
                
                    .services-nav-menu-flex-item{
                        max-height:100px;
                        text-align:center;
                        background-color:black;
                        letter-spacing: 0.1em;
                        font-family: Verdana, sans-serif; 
                        color:white;
                        border:black;
                        outline-color: black;
                        height:auto;
                        overflow:hidden;
                        transition:max-height 0.3s ease-out;

                        &.left{
                            text-align:left;
                        }
                        
                        &.hidden{
                            max-height:0
                        }
                        
                    }
                }
            }
      }

     
}


@media only screen and (max-width:1300px){
    .background{
        .footer{
            form{
                .form{
                    position:relative;
                }   
            }

        }
    }
}

@media only screen and (max-width:1000px){
    .background{
        .nav_bar_section{
           .nav_bar_section_1{
                width:80%;
            }
        }
    }
}


@media only screen and (max-width:600px){
    .background {

         .container {
            background:  linear-gradient(to bottom,#ff99cc 20%,#ccff99 95%);
        
            .text{

                div{

                    p{
                        font-size:30px;
                    }
                }
            }
            
            .headline-container {

                .h-1{
                     min-width:70%;

                        h1 {
                            font-size:35px;
                            background-color:black;
                            text-align:center;
                            margin:0;
                        }
                    }
            }
        }

        .nav_menu{
            margin-top:10px;
        }

        .h2-container{
            padding-top:10px;
            div:first-child{
                margin-left:0;
            }
        }

        .nav_bar_section{
            height:170px;
            .nav_bar_section_1{
                width:100%;
            }
        }

        .footer{

            form{
                display:inline-block;

                div{
                    display:block;
                    position:relative;
                    min-height: 40px;
                    width:100%;

                    input{

                        &[type=text]{
                            position: absolute;
                            top:50%;
                            left:50%;
                            transform: translate(-50%,-50%);
                            min-width: 70%;
                           
                        }
                        &[type=submit]{
                            position: absolute;
                            top:50%;
                            left:50%;
                            transform: translate(-50%,-50%);
                            min-width: 70%;

                        }
                    }
                }
            }
        }

    }
    
}

@media only screen and (max-width:480px){
    .background{

        .container{

            .text{

                div{
                
                    p{
                        font-size:25px;
                    }
                }
            }
        }
    

    .footer{

        #services-menu{

        .services-nav-menu{
            width:100%;

            .services-nav-menu-item{
                text-align:center;      
                display:block;
            }

        }
    }
    }
}

    
}